@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Space+Mono:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Mono');


.w3-button {
	font-family: 'Space Mono', monospace;
	font-size:13px;
	}

.factsheet{
	color: #E80B0F;}
	
header{
	margin-bottom: 25px;
}

h5{
	font-family:'Roboto';
	}
	
#fullname{
	text-transform: uppercase;
	font-weight:bold;
	}	
#cardfooter{
	font-family: 'Roboto Mono', monospace;
	font-size:12px;
}
